# Node modules
node_modules

# Output directory
_site

# Ignore includes generated at build time
_includes/generated

# Ignore assets generated at build time
assets

# Ignore error logs
*.log

# MACS
.DS_Store
