<footer>
  <nav>
    <a href="/feed.xml" aria-label="RSS feed" class="nav__link">RSS</a>
    <a href="//github.com/jeremenichelli" aria-label="Jeremias in GitHub" class="nav__link">GitHub</a>
    <a href="//twitter.com/jeremenichelli" aria-label="Jeremias in Twitter" class="nav__link">Twitter</a>
    <a href="/" aria-label="Go to home" class="nav__link nav__link--home">jeremenichelli.io</a>
  </nav>
</footer>
