<header>
  <div class="container">
    <h1 class="page__title">{{ title | nbsp }}</h1>

    {% if type == 'post' %}
    <p class="page__subtitle">
      <time datetime="{{ page.date | date: '%Y-%m-%d' | append: 'T00:00:00.000Z' }}">
        {{ page.date | date: '%d %B, %Y'}}
      </time>
    </p>
    {% endif %}
  </div>
</header>
