@import '__vars.less';

.list() {
  list-style: none;
  padding: 0;

  &-item {
    margin: 2rem 0;

    &:before {
      /**
       * Adding zero-width space returns list semantics to unstyled lists
       * in accessibility tools like VoiceOver.
       *
       * https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
       */
      content: '\200B';
    }

    &:first-child {
      margin: 3rem 0;
    }

    &__info {
      color: var(--secondary);
      font-size: 0.9375rem; // mobile 15px
      letter-spacing: 0.01em;
      margin: 0.25rem 0 0;
      text-transform: uppercase;

      @media (min-width: @breakpoints__desktop--start) {
        font-size: 0.888888rem; // desktop 16px (-1) position in Major Second Scale
      }
    }

    &__highlight {
      color: var(--text);
    }

    &__title {
      display: inline-block;
      font-size: 2rem; // mobile 32px, desktop 36px (~6) position in Major Second Scale
      font-weight: 700;
      letter-spacing: @typography__letter-spacing--list-title;
      line-height: 1.15;
      margin: 0;
    }

    &__excerpt {
      margin: 1rem 0;
    }

    &__cta {
      font-size: 1.125rem; // mobile 18px

      @media (min-width: @breakpoints__desktop--start) {
        font-size: 1.111112rem; // desktop 20px (1) position in Major Second Scale
      }
    }
  }
}
