@import '__vars.less';

.list() {
  list-style: none;
  padding: 0;

  &-item {
    margin: 2rem 0;

    &:first-child {
      margin: 3rem 0;
    }

    &__info {
      color: var(--secondary);
      font-size: 0.9375rem; // mobile 15px
      margin: 0.25rem 0 0;
      text-transform: uppercase;
      
      @media (min-width: @breakpoints__desktop--start) {
        font-size: 0.944444rem; // desktop 17px
      }
    }

    &__highlight {
      color: var(--text);
    }

    &__title {
      font-size: 2rem; // mobile 32px, desktop 36px
      font-weight: 700;
      letter-spacing: @typography__letter-spacing--list-title;
      line-height: 1.15;
      margin: 0;
    }

    &__excerpt {
      margin: 1rem 0;
    }

    &__cta {
      font-size: 1.125rem; // mobile 18px

      @media (min-width: @breakpoints__desktop--start) {
        font-size: 1.111112rem; // desktop 20px
      }
    }
  }
}
