// LESS Variables
@baseColor: #ffffff;
@baseColor__dark: #020210;

@accent: #4242ef;
@secondary: #505060;
@codeBackground: rgba(0, 0, 10, 0.025);

@accent__dark: #7575ff;
@secondary__dark: #d0d0e0;
@codeBackground__dark: rgba(255, 255, 255, 0.05);

@spacing__mobile: 1rem;
@spacing__desktop: 2rem;

@breakpoint__desktopStart: 798px;

// CSS Variables
:root {
  // main colors
  --accent: @accent;
  --secondary: @secondary;
  --background: @baseColor;
  --text: @baseColor__dark;

  // code styles
  --codeBackground: @codeBackground;

  // typography
  --title--letterSpacing: -0.03em;

  // spacing
  --spacing: @spacing__mobile;

  &.colorScheme--dark {
    --accent: @accent__dark;
    --secondary: @secondary__dark;
    --background: @baseColor__dark;
    --text: @baseColor;
    --codeBackground: @codeBackground__dark;
  }

  @media (min-width: @breakpoint__desktopStart) {
    --spacing: @spacing__desktop;
  }
}
