/**
 * LESS Variables
 */
@breakpoint__desktop--start: 798px;

@colors__white: #ffffff;
@colors__black: #020210;

@colors__accent: #4242ef;
@colors__accent--dark: #7575ff;

@colors__secondary: #505060;
@colors__secondary--dark: #d0d0e0;

@colors__code-background: rgba(0, 0, 10, 0.025);
@colors__code-background--dark: rgba(255, 255, 255, 0.05);

@typography__letter-spacing--title: -0.03em;

@spacing__mobile: 1rem;
@spacing__desktop: 2rem;

/**
 * CSS Variables
 */
:root {
  --accent: @colors__accent;
  --secondary: @colors__secondary;
  --background: @colors__white;
  --text: @colors__black;

  --code-background: @colors__code-background;

  --spacing: @spacing__mobile;

  &.color-scheme--dark {
    --accent: @colors__accent--dark;
    --secondary: @colors__secondary--dark;
    --background: @colors__black;
    --text: @colors__white;
    --code-background: @colors__code-background--dark;
  }

  @media (min-width: @breakpoint__desktop--start) {
    --spacing: @spacing__desktop;
  }
}
