@font-face {
  font-family: 'Inter var';
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/Inter-variable.subset.woff2')
    format('woff2-variations');
}
