@import './_vars.less';
@import './_fonts.less';

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.65;
  -webkit-text-size-adjust: 100%;

  @media (min-width: 737px) {
    font-size: 18px;
  }

  @media (max-width: 320px) {
    font-size: 15px;
  }
}

::selection {
  background-color: var(--accent);
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  // disable tap color in Chrome mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  // global focus ring color
  &:focus {
    outline-color: var(--accent);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;

  // transition between light and dark mode
  transition-property: color, background-color;
  transition-duration: 0.25s;
}

a {
  color: var(--accent);
  text-decoration: none;

  // TODO: apply text-decoration new rules

  &:hover {
    text-decoration: underline;
  }
}

.container {
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;

  @media (min-width: 737px) {
    padding: 2rem;
  }
}

// delete the margins in first and last elements
main {
  .container > *:first-child {
    margin-top: 0;
  }

  .container > *:last-child {
    margin-bottom: 0;
  }
}

// dark button toggle
@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.colorScheme--toggle {
  border: none;
  border-radius: 50%;
  background-color: var(--accent);
  height: 1.5rem;
  left: 1rem;
  outline: none; // sorry a11y gods, but focus ring is awful on circles
  position: absolute;
  top: 1rem;
  width: 1.5rem;

  @media (min-width: 737px) {
    top: 2rem;
    left: 2rem;
  }

  &:active {
    transform: scale(0.95);
  }
}
