@import './__vars.less';

.nav__skip-navigation {
  position: fixed;
  left: 0;
  top: -9999em;
  z-index: 1;
}

nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--spacing);

  @media (min-width: @breakpoints__desktop--start) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--spacing) 6rem var(--spacing) var(--spacing);
  }
}

.nav__link {
  font-size: 1.25rem; // mobile 20px

  @media (min-width: @breakpoints__desktop--start) {
    font-size: 1.111112rem; // desktop 20px
    line-height: 2rem; // center vertically with logo
  }

  & + & {
    @media (min-width: @breakpoints__desktop--start) {
      margin-left: 1rem;
    }
  }
}

.nav__link--home {
  color: var(--text);
}

header,
footer {
  margin-top: 2rem;

  @media (min-width: @breakpoints__desktop--start) {
    margin-top: 4rem;
  }
}

.page__title {
  font-size: 2.625rem; // mobile 42px
  font-weight: 800;
  letter-spacing: @typography__letter-spacing--title;
  line-height: 1.15;
  margin: 0;

  @media (min-width: @breakpoints__desktop--start) {
    font-size: 3rem; // desktop 54px
  }
}

.page__subtitle {
  color: var(--secondary);
}

.page__excerpt {
  color: var(--secondary);
  font-size: 1.111112rem; // desktop 20px
  margin-bottom: 3rem;
}

.page__note {
  background-color: var(--note-background);
  border-radius: @corners__note;
  margin: 3rem 0;
  padding: 1rem var(--spacing);
  text-align: center;
}

.page__note-link {
  color: var(--text);
}

.heading__anchor {
  @media print {
    display: none;
  }
}

blockquote {
  margin: 2.5rem 0;

  @media (min-width: @breakpoints__desktop--start) {
    margin: 3rem 0;
    padding: 0 2rem 0 1rem;
  }

  p {
    color: var(--secondary);
    font-size: 1.125rem; // mobile 18px
    font-style: italic;
    margin: 0;
    text-transform: uppercase;

    @media (min-width: @breakpoints__desktop--start) {
      font-size: 1.222223rem; // desktop 22px
    }
  }
}

cite {
  color: var(--text);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-transform: none;
}

h2 {
  font-size: 2rem; // mobile 32px, desktop 36px
  font-weight: 800;
  letter-spacing: @typography__letter-spacing--title;
  line-height: 1.15;
  margin: 3rem 0 0;
}

h3 {
  font-size: 1.5rem; // mobile 24px, desktop 27px
  font-weight: 800;
  letter-spacing: @typography__letter-spacing--title;
  line-height: 1.15;
  margin: 2rem 0 0;
}

ul {
  padding: 0 0 0 2rem;
}

code {
  background-color: var(--code-background);
  border-radius: @corners__code;
  color: var(--code-text);
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 0.9375rem; // mobile 15px
  padding: 1px 3px;

  @media (min-width: @breakpoints__desktop--start) {
    font-size: 0.888888rem; // desktop 16px
  }
}

pre {
  background-color: var(--code-background);
  color: var(--code-text);
  left: calc(var(--spacing) * -1);
  line-height: 1.5;
  overflow: auto;
  padding: 1rem 0;
  position: relative;
  width: 100vw;

  @media (min-width: @breakpoints__desktop--start) {
    border-radius: @corners__code;
    width: @sizing__container;
  }

  code {
    // reset styles for standalone code tags
    background-color: transparent;
    border-radius: 0;

    // allow padding on horizontal overflow
    display: inline-block;
    padding: 0 var(--spacing);
  }
}

main {
  p {
    margin: 2rem 0; // alter vertical spacing only inside main content
  }
}
