@import './__vars.less';

.skip--navigation {
  position: fixed;
  left: 0;
  top: -9999em;
  z-index: 1;
}

nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--spacing);

  @media (min-width: @breakpoint__desktopStart) {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--spacing) 6rem var(--spacing) var(--spacing);
  }
}

.nav__link {
  font-size: 1.25rem; // mobile 20px
  line-height: 2rem; // center with logo height

  @media (min-width: @breakpoint__desktopStart) {
    font-size: 1.111112rem; // desktop 20px
  }

  & + & {
    @media (min-width: @breakpoint__desktopStart) {
      margin-left: 1rem;
    }
  }
}

.nav__link--home {
  color: var(--text);
}

header {
  margin-top: 2rem;

  @media (min-width: @breakpoint__desktopStart) {
    margin-top: 4rem;
  }
}

.page__title {
  font-size: 2.625rem; // mobile 42px
  font-weight: 800;
  letter-spacing: var(--title--letterSpacing);
  line-height: 1.15;
  margin: 0;

  @media (min-width: @breakpoint__desktopStart) {
    font-size: 3rem; // desktop 54px
  }
}

.page__subtitle {
  color: var(--secondary);
}

.page__excerpt {
  color: var(--secondary);
  font-size: 1.111112rem; // desktop 20px
  margin-bottom: 2rem;
}

main {
  p {
    margin: 1.5rem 0;
  }

  h2,
  h3 {
    font-size: 2rem; // mobile 32px, desktop 36px
    font-weight: 800;
    letter-spacing: var(--title--letterSpacing);
    line-height: 1.15;
  }
}

// nav {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   max-width: 85rem;
//   padding: 1rem 1rem 2rem;

//   @media (min-width: 737px) {
//     padding: 2rem 3rem;
//   }

//   footer & {
//     padding: 2rem 1rem 1rem;

//     @media (min-width: 737px) {
//       padding: 3rem 3rem 2rem;
//     }
//   }
// }

// .nav__link {
//   font-style: italic;
//   letter-spacing: var(--medium--letter-spacing);
//   text-transform: uppercase;
//   // 1px adjustment to align nav links with logo
//   transform: translateY(-1px);
// }

// .nav__link--home {
//   color: var(--text);
// }

// .page__title {
//   font-size: 2.5rem; /* mobile 40px */
//   line-height: 1.25;
//   margin: 0;

//   @media (min-width: 737px) {
//     font-size: 3rem; /*  desktop 54px */
//   }
// }

// .page__subtitle {
//   color: var(--secondary);
//   letter-spacing: var(--low--letter-spacing);
//   font-size: 0.944444rem; /* desktop 17px */
//   margin: 0.5rem 0 0;
//   text-transform: uppercase;
// }

// .page__excerpt {
//   color: var(--secondary);
//   font-size: 1.111112rem; /* desktop 20px */
//   margin-bottom: 2rem;
// }

// main {
//   p {
//     margin: 1.5rem 0;
//   }

//   h2 {
//     margin-top: 2rem;
//   }

//   h2,
//   h3,
//   h4 {
//     line-height: 1.35;
//   }

//   h4,
//   h5,
//   h6 {
//     text-transform: uppercase;
//     letter-spacing: var(--low--letter-spacing);
//   }
// }

// blockquote {
//   color: var(--accent);
//   font-size: 1.166667rem; // desktop 21px
//   font-style: italic;
//   margin: 3rem 1rem;
//   text-transform: uppercase;

//   p {
//     margin: 0;
//   }

//   cite {
//     color: var(--secondary);
//     margin: 0.5rem 0 0;
//     padding: 0;
//   }
// }
