@import '_general.less';
@import '_page.less';

.archive {
  list-style: none;
  padding: 0;
}

.archive__item {
  margin: 1rem 0 0;
}

.archive__item--title {
  color: var(--text);
  font-size: 1.222223rem; /* desktop 22px */
  font-weight: 800;
  line-height: 1.35;
}

.archive__year {
  color: var(--secondary);
  font-size: 1.444444rem; /* desktop 26px */
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}
