@import '_general.less';
@import '_page.less';

.archive-list {
  list-style: none;
  padding-left: 1rem;
}

.archive-list-item {
  font-size: 1.5rem; // mobile 24px, desktop 27px
  font-weight: 700;
  letter-spacing: @typography__letter-spacing--title;
  line-height: 1.15;
  margin: 2rem 0;
}
