@import '__mixins.less';
@import '__vars.less';
@import '_general.less';
@import '_page.less';

.blog-list {
  .list();
}

.blog-links {
  margin-top: calc(var(--spacing) + 1rem);
}

.blog-links__archive {
  display: inline-block;
  font-size: 1.25rem; // mobile 20px

  @media (min-width: @breakpoints__desktop--start) {
    font-size: 1.111112rem; // desktop 20px (1) position in Major Second Scale
  }
}
