@import '_general.less';
@import '_page.less';

code {
  background-color: var(--code-background);
  border-radius: @corners__code;
  color: var(--code-text);
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 0.9375rem; // mobile 15px
  padding: 1px 3px;

  @media (min-width: @breakpoints__desktop--start) {
    font-size: 0.888888rem; // desktop 16px
  }
}

pre {
  background-color: var(--code-background);
  color: var(--code-text);
  left: calc(var(--spacing) * -1);
  line-height: 1.5;
  overflow: auto;
  padding: 1rem 0;
  position: relative;
  width: 100vw;

  @media (min-width: @breakpoints__desktop--start) {
    border-radius: @corners__code;
    width: @sizing__container;
  }

  code {
    // reset styles for standalone code tags
    background-color: transparent;
    border-radius: 0;

    // allow padding on horizontal overflow
    display: inline-block;
    padding: 0 var(--spacing);
  }
}

// del,
// code {
//   display: inline-block;
//   font-family: Menlo, Consolas, Monaco, monospace;
//   font-size: 0.833334rem; /* desktop 15px */
//   padding: 0 5px;
// }

// code {
//   background-color: var(--code--background);
//   border-radius: 4px;
//   font-size: 0.833334rem; /* desktop 15px */
// }

// // general highlighting
// .comment {
//   opacity: 0.5;
//   font-style: italic;
// }

// // js highlighting
// .language-js {
//   .keyword {
//     font-weight: 700;
//   }
// }

// // scss highlighting
// .language-scss,
// .language-css {
//   .selector,
//   .rule {
//     font-weight: 700;
//   }
// }

// .post__note {
//   background-color: var(--code--background);
//   border-radius: 4px;
//   font-style: italic;
//   margin: 2rem 0;
//   padding: 1rem;
//   text-align: center;
//   word-break: keep-all;

//   a {
//     color: var(--text);
//   }
// }

// pre {
//   background-color: var(--code--background);
//   border-radius: 4px;
//   overflow: auto;
//   padding: 0.75rem 1rem;

//   code {
//     background-color: transparent;
//     margin: 0;
//     padding: 0;
//   }
// }

// .action--link {
//   color: var(--secondary);
//   display: block;
//   font-size: 0.944444rem; /* desktop 17px */
//   text-align: center;
// }
