<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include 'head' %}
  <body>

    <button class="color-scheme__toggle js--color-scheme__toggle" aria-label="Toggle dark mode"></button>

    {{ content }}

  </body>
</html>
