<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include 'head' %}
  <body>

    <header>
    {% if type != 'home' %}
      {% include 'nav' %}
    {% endif %}

      <input
        class="color-scheme__checkbox js--color-scheme__checkbox screen-reader__content"
        id="color-scheme__checkbox"
        role="switch"
        type="checkbox"
      >
      <label for="color-scheme__checkbox" class="color-scheme__toggle">
        <span class="screen-reader__content">Toggle dark color scheme</span>
      </label>
    </header>

    {{ content }}

  </body>
</html>
