<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include 'head' %}
  <body>
    <button class="dark--toggle" aria-label="Toggle dark mode"></button>
    {% include 'nav' %}
    {% include 'header' %}
    <main id="main" role="main">
      <div class="container main__container">
        {% if excerpt %}
        <p class="page__excerpt">
          {{ excerpt }}
        </p>
        {% endif %}

        {% if type == 'post' %}
          <blockquote class="kofi--message">
            <p>If you enjoy this article, consider buying my a coffee at <a href="//ko-fi.com/jeremenichelli" target="_blank">ko-fi.com/jeremenichelli</a> to support me!</p>
          </blockquote>
        {% endif %}

        {{ content }}
      </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
