---
layout: base
---

{% include 'nav' %}

{% include 'header' %}

<main>
  <div class="container">
    {% if excerpt %}
      <p class="page__excerpt">
        {{ excerpt | markdownify }}
      </p>
    {% endif %}
    
    {% if external_url %}
      <p class="page__note">
        <a href="{{ external_url }}">Article originally published at {{ host }}</a>
      </p>
    {% endif %}

    {{ content }}
  </div>
</main>
{% include 'footer' %}
