<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include 'head' %}
  <body>
    <main id="main" role="main">
      <div class="container main__container">
        {{ content }}
      </div>
    </main>
  </body>
</html>
